

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #0d0000;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a {
    color: white;
    background-color: rgb(12, 148, 58);
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.btn{
    color:  rgb(5, 120, 45);
    font-family: 'Helvetica Neue';
    font-size: 50px;

}

nav ul li a:hover {
    background-color: rgb(5, 120, 45);
    transform: scale(1.1);
}


nav ul p {
    color: white;
    font-size: 50px;
    background-color: rgb(12, 148, 58);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    transition: transform 0.3s ease, background-color 0.3s ease;
}


nav ul p:hover {
    background-color: rgb(5, 120, 45);
    transform: rotate(10deg) scale(1.1);
}

.phrase {
    padding: 40px;
    width: auto;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Helvetica Neue';
}




.page-footer {
    background-color: #222; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
}

.page-footer p {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue';
    display: flex;

}

.conditions{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.faq{
justify-content: center;
}

.info{
    justify-content: center;
}

.page-footer ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.page-footer li {
    list-style: none;
}

.page-footer li a {
    color: rgb(46, 171, 4);
    font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.page-footer li a:hover {
    color: #32CD32; 
    transform: scale(1.2);
}




main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    min-height: 100vh;
    background-color: #0d0000;
    
}

.image-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;    
}


.image-wrapper {
    position: relative;       
    width: 100%;
    overflow: hidden;
        opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.image-wrapper.visible {
    opacity: 1;
    transform: translateY(0); 
}

.image-wrapper img {
    width: 100%;
    min-height: 100%;
     
}


.image-wrapper .overlay {
    position: absolute;
    top: 0;
    width: 50%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;    
}
.image-wrapper:nth-child(odd) .overlay {
    right: 0; 
}

.image-wrapper:nth-child(even) .overlay {
    left: 0; 
}


.image-wrapper .overlay h2 {
    position: absolute;
    top: 10%;
    font-size: 4vw;
    margin-bottom: 10px;    
    font-weight: bold;
    font-style: italic;	
    font-family: 'Helvetica Neue';
    color :white;
}
.image-wrapper .overlay h2:hover{
    font-size: 4.1vw;
}




.image-wrapper .overlay p {
    position: absolute;
    font-size: 2vw;

    width: 80%;
    font-style: italic;
	text-align: start;
    font-family: 'Helvetica Neue';	
    color :white;


    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; 
}

.image-wrapper .overlay p:hover {
    font-size: 2.1vw;
}


.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black; 
    animation: typing 2s steps(30) 1s forwards, blink 0.75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}