* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica Neue';
    font-weight: 300;
}

header{
    background-color: #1f8a1f;
    color: #fff;
    padding: 48px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav ul {
        display: flex;
        gap: 20PX;
        list-style: none;
    }

nav ul li {
      text-transform: uppercase;
      cursor: pointer;
      font-size: 20px;
      font-family: 'helvetica Neue';
      margin-left: 115px;
    }
    
nav ul li a {
    color: #000000;
    padding: 20px;
    text-decoration: none;
    }
.hero {
    background-image: url('image/aa573906863032b3a8380eed37f16d20.jpeg');
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero h1 {
    margin-top: -500px;
    margin-left: -870px ;
    font-style: italic;
}
.logo-seiko img{
    width: 300px;
    height: auto;
    margin-left: 505px;
    margin-top: -50px; 
}
.montres-seiko img{
    margin-left: 200;
}
.logo-rolex img{
    width: 250px;
    height: auto;
    margin-left: 530px;
}
